@import 'sizes';

.calendar {
  background-color: var(--secondaryBackground);
  border-radius: 3 * $radius;
  height: 540px;
  padding: 1.5em;
  position: absolute;
  right: 1.5em;
  top: 5em;
  width: $sidebarWidth * 1.3;

  @media (max-width: $m) {
    position: relative;
    right: auto;
    width: 100%;
  }
}

.header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  width: 100%;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0;
}

.date {
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 0;
}

.timestamps {
  margin-bottom: 1.5em;
}

.timestamp {
  align-items: center;
  color: rgba(var(--primaryFontColorRgb), 0.2);
  display: flex;
  font-family: monospace;
  font-size: 0.6em;
  line-height: 3;

  &:after {
    border-bottom: 2px dashed rgba(var(--primaryFontColorRgb), 0.2);
    content: '';
    display: block;
    height: 1px;
    margin-left: 10px;
    width: 100%;
  }
}

.now {
  color: var(--pureRed);

  &:after {
    border-bottom: 2px dashed var(--pureRed);
  }
}

.opgave {
  background-color: var(--secondaryAccent);
  border-radius: 2 * $radius;
  color: var(--white);
  font-size: 16px;
  margin-top: 0.5em;
  padding: 1em;

  span:first-of-type {
    display: block;
    margin-bottom: 4px;
  }
}

.opgave:last-of-type {
  background-color: var(--thirdAccent);
}