@import 'sizes.scss';

.lightButton {
	align-items: center;
	background-color: var(--lightBtn);
	border: none;
	border-radius: 4px;
	color: var(--primaryFontColor);
	cursor: pointer;
	display: inline-flex;
	font-size: 14px;
	height: 40px;
	justify-content: center;
	margin: 0;
	padding: 0 1.75em;

	&:hover {
		background-color: var(--hoverLightBtn);
	}
}

.darkButton {
	align-items: center;
	background-color: var(--darkBlue);
	border: none;
	border-radius: 4px;
	color: var(--white);
	cursor: pointer;
	display: inline-flex;
	font-size: 14px;
	height: 40px;
	justify-content: center;
	margin: 0;
	padding: 0 1.75em;

	&:hover {
		background-color: var(--hoverDarkBlue);
	}
}

.blueButton {
	align-items: center;
	background-color: var(--darkBlue);
	border: none;
	border-radius: 4px;
	color: var(--white);
	cursor: pointer;
	display: inline-flex;
	font-size: 14px;
	height: 40px;
	justify-content: center;
	margin: 0;
	padding: 0 1.75em;

	&:hover {
		background-color: var(--hoverDarkBlue);
	}
}

.greenButton {
	align-items: center;
	background-color: var(--pureGreen);
	border: none;
	border-radius: 4px;
	color: var(--white);
	cursor: pointer;
	display: inline-flex;
	font-size: 14px;
	height: 40px;
	justify-content: center;
	margin: 0;
	padding: 0 1.75em;

	&:hover {
		background-color: var(--hoverDarkBlue);
	}
}

.deleteButton {
	align-items: center;
	background-color: var(--red);
	border: none;
	border-radius: 4px;
	color: var(--white);
	cursor: pointer;
	display: inline-flex;
	font-size: 14px;
	height: 40px;
	justify-content: center;
	margin: 0;
	padding: 0 1.75em;
	//text-transform: uppercase;
	width: 100%;

	&:hover {
		background-color: var(--hoverRed);
	}
}

.testButtonContainer {
	background-color: var(--primaryBackground);
	border: 1px solid var(--lightGrey);
	border-radius: 4px;

	.testButton,
	.testButtonSelected {
		align-items: center;
		border: none;
		background-color: var(--primaryBackground);
		color: var(--primaryFontColor);
		cursor: pointer;
		display: inline-flex;
		font-size: 14px;
		height: 40px;
		justify-content: center;
		margin: 0;
		padding: 0 1.75em;
		width: 40px;

		&:hover {
			background-color: var(--secondaryBackground);
		}
	}

	.testButtonSelected {
		background-color: var(--primaryAccent);
		color: var(--white);

		&:hover {
			background-color: var(--primaryAccent);
		}
	}

	.altTestButton,
	.altTestButtonSelected {
		align-items: center;
		border: none;
		background-color: var(--primaryBackground);
		color: var(--primaryFontColor);
		cursor: pointer;
		display: inline-flex;
		font-size: 14px;
		height: 40px;
		justify-content: center;
		margin: 0;
		padding: 0 1.75em;
		width: 90px;

		&:hover {
			background-color: var(--secondaryBackground);
		}
	}

	.altTestButtonSelected {
		background-color: var(--primaryAccent);
		color: var(--white);

		&:hover {
			background-color: var(--primaryAccent);
		}
	}

	button:first-of-type {
		border-radius: 4px 0 0 4px;
		border-right: 1px solid var(--lightGrey);
	}
	button:last-of-type {
		border-radius: 0 4px 4px 0;
	}
}