@import 'sizes.scss';

.main {
	background-color: var(--primaryBackground);
	border-radius: 20px;
	bottom: 1.5em;
	height: calc(100vh - 3em);
	margin: 0 auto;
	margin-right: 0;
	max-width: calc(100% - $sidebarWidth - 1.5em);
	overflow: hidden;
	overflow-y: scroll;
	padding: 1.5em;
	padding-top: 5em;
	position: fixed;
	right: 1.5em;
	top: 1.5em;
	width: 100%;

	@media (max-width: $m) {
		height: auto;
		max-width: 100%;
		overflow: initial;
		padding: 1em 1em 1.5em;
		padding-bottom: 4em;
		position: relative;
		top: initial;
		right: initial;
		bottom: initial;
		border-radius: 0;
	}
}

.userForm {
	display: flex;
}

.userPic {
	border-radius: 60px;
	height: 120px;
	overflow: hidden;
	width: 120px;
}

.form {
	font-size: 1.2em;
	margin-left: 1em;

	input {
		border: 0px;
		border-bottom: 1px solid var(--lightGrey);
		font-size: 1em;
		display: block;
	}

	button {
		margin-top: 0.7em;
	}
}

.grid {
	column-gap: 1.5em;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 100px;
	row-gap: 1.5em;
	//height: 100%;
	width: calc(100% - ($sidebarWidth * 1.3) - 1.5em);

	@media (max-width: $m) {
		width: 100%;
	}
}

.gridItem {
	background-color: var(--secondaryBackground);
	border-radius: 3 * $radius;
	padding: 1.5em;
}

// Grid widths
.gridItem[width='1'] {
	grid-column-end: span 1;
}

.gridItem[width='2'] {
	grid-column-end: span 2;
}

.gridItem[width='3'] {
	grid-column-end: span 3;
}

.gridItem[width='4'] {
	grid-column-end: span 4;
}

.gridItem[width='5'] {
	grid-column-end: span 5;
}

.gridItem[width='6'] {
	grid-column-end: span 6;
}

// Grid heights
.gridItem[height='1'] {
	grid-row-end: span 1;
}

.gridItem[height='2'] {
	grid-row-end: span 2;
}

.gridItem[height='3'] {
	grid-row-end: span 3;
}