@import 'sizes.scss';

.main {
	background-color: var(--primaryBackground);
	border-radius: 20px;
	bottom: 1.5em;
	height: calc(100vh - 3em);
	margin: 0 auto;
	margin-right: 0;
	max-width: calc(100% - $sidebarWidth - 1.5em);
	overflow: hidden;
	overflow-y: scroll;
	padding: 1.5em;
	padding-top: 5em;
	position: fixed;
	right: 1.5em;
	top: 1.5em;
	width: 100%;

	@media (max-width: $m) {
		height: auto;
		max-width: 100%;
		overflow: initial;
		padding: 1em 1em 1.5em;
		padding-bottom: 4em;
		position: relative;
		top: initial;
		right: initial;
		bottom: initial;
		border-radius: 0;
	}
}

.userForm {
	display: flex;
}

.userPic {
	border-radius: 60px;
	height: 120px;
	overflow: hidden;
	width: 120px;
}

.form {
	font-size: 1.2em;
	margin-left: 1em;

	input {
		border: 0px;
		border-bottom: 1px solid var(--lightGrey);
		font-size: 1em;
		display: block;
	}

	button {
		margin-top: 0.7em;
	}
}

.grid {
	column-gap: 1em;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 10vw auto;
	row-gap: 1em;
	//height: 100%;
	width: calc(100% - ($sidebarWidth * 1.3) - 1.5em);

	@media (max-width: $m) {
		width: 100%;
	}
}

.gridItem {
	align-items: center;
	background-color: var(--secondaryBackground);
	border-radius: 3 * $radius;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 14px;
	overflow: hidden;
	padding: 2.5em 1.5em;
	position: relative;
	text-align: center;

	span {
		margin-top: 1.5em;
	}
}

.gridItem h1 {
	font-size: 2.5em;
	line-height: 1;
	margin: 0;
}

// Grid widths
.gridItem[data-width='full'] {
	grid-column-end: span 6;
}

.gridItem[data-width='half'] {
	grid-column-end: span 3;
}

.gridItem[data-width='fourth'] {
	grid-column-end: span 4;
}

.gridItem[data-width='third'] {
	grid-column-end: span 2;
}

@media (max-width: $m) {
	.gridItem[data-mobile-width='full'] {
		grid-column-end: span 6;
	}

	.gridItem[data-mobile-width='half'] {
		grid-column-end: span 3;
	}
}


// Grid heights
.gridItem[data-height='1'] {
	grid-row-end: span 1;
}

.gridItem[data-height='2'] {
	grid-row-end: span 2;
}

.gridItem[data-height='3'] {
	grid-row-end: span 3;
}

.gridItem[data-height='4'] {
	grid-row-end: span 4;
}

// Charts styling
.circleChart {
	display: flex;
	height: 20 * $radius;
	width: 22 * $radius;
}

.boxChart {
	display: flex;
	height: 20 * $radius;
	width: 35 * $radius;
}

.leftInner {
	//background-color: var(--altBackground);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
}