@import 'sizes.scss';

.footer {
	bottom: 1em;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	width: calc(100% - 4em);
}

.leftContent {
	align-content: center;
	display: flex;
	margin-left: 1em;
}