@font-face {
  font-family: 'Pacifico';
  src: url("/Pacifico-Regular.ttf") format('truetype');
}

html,
body {
  background-color: var(--primaryBackground);
  color:  var(--primaryFontColor);
  padding: 0;
  margin: 0;
  font-family: neue-haas-grotesk-display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --white: white;
  --lightBlue: #C4C8D8;
  --hoverLightGrey: #f9f9f9;
  --linkBlue: #0A25D9;
  --pureGreen: #66D176;
  --pureRed: #ff6e6e;
  --grey: rgb(177, 177, 177);
  --darkGrey: rgb(68, 68, 68);
  --primaryBackground: rgb(255, 255, 255);
  --secondaryBackground: rgb(250, 250, 250);
  --primaryLineColor: rgb(244, 244, 244);
  --primaryFontColor: rgb(1, 11, 54);
  --primaryButtonBg: rgb(244, 244, 244);
  --primaryAccent: rgb(24, 53, 248);
  --darkBlue: rgb(1, 11, 54);
  --hoverDarkBlue: rgb(21, 36, 101);
  --lightGrey: rgb(244, 244, 244);
}

[data-theme='dark'] {
  --primaryBackground: rgb(22, 25, 35);
  --secondaryBackground: rgb(15, 18, 30);
  --primaryLineColor: rgb(54, 54, 54);
  --primaryFontColor: rgb(255, 255, 255);
  --primaryButtonBg: rgb(18, 20, 28);
  --primaryAccent: rgb(241, 50, 255);
  --darkBlue: rgb(91, 0, 171);
  --hoverDarkBlue: rgb(67, 0, 126);
  --darkGrey: rgb(180, 180, 180);
  --lightGrey: rgb(45, 45, 45);
  --linkBlue: rgb(213, 44, 209);
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/