@import "sizes.scss";

.sidebar {
	background-color: var(--light);
	border-right: 1px solid var(--lightGrey);
	height: 100%;
	left: 0;
	padding: 1em 1em 2em;
	position: fixed;
	top: 0;
	max-width: $sidebarWidth;
	width: 100%;
	z-index: 10;

	@media (max-width: $m) {
		background-color: white;
		box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.14);
		-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.14);
		-moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.14);
		border-radius: 25px;
		display: none;
		height: auto;
		left: auto;
		max-width: $s;
		padding-bottom: 1em;
		position: absolute;
		right: 0.7em;
		top: 4.5em;
		width: calc(100% - 1.4em);
	}
}

.displaySidebar {
	display: initial;
}

.mainLogo {
	width: 8em;

	@media (max-width: $m) {
		width: 5em;
	}
}

.sidebarMenu {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 2rem 0;
}

.inner {
	width: 100%;
}

.sidebarItem {
	align-items: center;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	margin: 0.2em auto;
	padding: 0.7em 1rem;
	width: 100%;

	svg {
		height: 1.2em;
		width: 1.2em;
	}

	span {
		margin-left: 1rem;
	}

	&:hover {
		background-color: var(--lightGrey);
		color: var(--pureBlue);

		svg path {
			stroke: var(--pureBlue);
		}

		#chat path {
			fill: var(--pureBlue);
		}
	}
}

.active {
	background-color: var(--lightGrey);
	color: var(--pureBlue);

	svg path {
		stroke: var(--pureBlue);
	}
}

.signOut {
	width: 100%;
}

.toggle {
	align-items: center;
	background-color: white;
	border-radius: 25px;
	display: flex;
	height: 40px;
	justify-content: center;
	right: calc(1em - 10px);
	position: absolute;
	top: 1em;
	z-index: 10;
	width: 40px;

	@media (min-width: $m) {
		display: none;
	}
}