@import "sizes.scss";

.user {
	align-items: center;
	display: flex;
}

.imageContainer {
	border-radius: 3 * $radius;
	height: 10 * $radius;
	overflow: hidden;
	width: 10 * $radius;
}

.info span {
	display: block;
	letter-spacing: 1px;
	font-size: 12px;
	margin-left: 1em;
	//width: 100px;
}

.user svg {
	margin-left: 0.5em;
	width: 10px;
}

.info .username {
	color: var(--grey);
	//font-style: italic;
}